{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "globals": {
    "afterAll": true,
    "afterEach": true,
    "beforeAll": true,
    "beforeEach": true,
    "describe": true,
    "expect": true,
    "fit": true,
    "it": true,
    "jasmine": true,
    "xit": true,
    "jest": true
  },
  "settings": {
    "plugins": [
      "import"
    ],
    "rules": {
      "import/no-unresolved": "error"
    },
    "import/resolver": {
      "typescript": {},
    }
  }
}

