{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "globals": {
    "afterAll",
    "beforeAll",
    "beforeEach",
    "describe",
    "expect",
    "fit",
    "it",
    "jasmine",
    "xit",
    "jest"
  }
}

